@{
	ViewBag.Title = "Congratulations! You've been accepted!";
}

<h2>Congratulations!</h2>
<p>You've been accepted as a speaker to Code Luau! We'll email you information on how to pay your registration fees soon.</p>
